<template>
<div class="wrap">
    <h1>Login</h1>
    <form  @submit.prevent="submitHandler">
        <div class="single_field">
        <label for="name">Enter Name</label>
<input type="text" id="name" required v-model="userName" placeholder="Enter Name">
</div>
<div class="single_field">
<label for="password">Enter Password</label>
<input type="password" id="password" required v-model="userPassword" placeholder="Enter Password">
</div>
<button class="btn">
    Login
</button>
    </form>
    </div>
</template>

<script>
export default {

    name: 'Login',
   data(){
       return{
            userName : "" ,
     userPassword: "",
       }
   },
  
    methods : {
        submitHandler(){
            localStorage.setItem("userName" , this.userName);
            localStorage.setItem("userPassword" , this.userPassword);
            console.log(this.userName , this.userPassword);
            this.userName ="";
            this.userPassword ="";
        }
    }
}
</script>
<style>
.wrap{
    width:40vw;
    height:60vh;
    background-color: #fff;
    margin: auto;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    width: 400px;
    height: 40px;
    border: 2px solid #000;
    
}
label{
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    justify-self: flex-start !important;
    color: grey;
    
}
.single_field{
    margin:15px 0;
}
.btn{
    width:400px;
    height:50px;
    background-color:pink;
    
    border: 2px solid #000;
    
    margin:15px auto;
}
.btn:hover{
    cursor: pointer;
    background-color:rgb(250, 145, 163);
}
</style>