<template>
 <div class="container">
  <Login />
  
 </div>
</template>

<script>
import Login from "./components/Login.vue"

export default {
  name: 'App',
  components: {
    Login
  }
}
</script>

<style>

.container{
    width: 100vw;
    height: 100vh;
text-align: center;
display: flex;
align-items: center;
justify-self: center;
}
</style>
